*{
	margin: 0;
	padding: 0;
}
body{
	background: linear-gradient(to right, #51c2d5, #bbf1fa);
	height: 100vh;
}
.list-box{
	width: 700px;
	margin: auto;
	padding: 20px;
}
.content{
	width: 100%;
	border: none;
	padding: 16px;
	outline: none;
	font-size: 18px;
}
.pending_task{
	margin: 20px 0;

}
.pending_task h2{

}
.task{
	width: 100%;
	background: rgba(255,255,255,0.6);
	padding: 16px;
	margin: 4px 0;
	overflow: hidden; 
}
.task i{
	float: right;
	margin-left: 16px;
	cursor: pointer;
}
.task i:hover{
	color:red;
}
.completed .task{
	background: white;
}